ul.icons {
  list-style: none;
  padding: 0 1rem;
  margin: 0 0 1rem 0;
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  left: 0;
  width: 100%;
}

ul.icons li {
  margin-left: 1rem;
}

@media screen and (max-device-width: 1024px) {
  ul.icons {
    position: relative;
    padding: 0;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  ul.icons li {
    margin: 0 1rem 0 0;
  }
}

@media screen and (max-width: 648px) {
  ul.icons {
    position: relative;
    padding: 0;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  ul.icons li {
    margin: 0 1rem 0 0;
  }
}
