.navbar-brand img {
  width: 30px;
  height: 30px;
  margin-right: 6px;
  filter: grayscale(100%) brightness(0);
}

.navbar-brand:hover img {
  filter: grayscale(0) brightness(100%);
}

button.navbar-toggler {
  outline: 0;
  outline-color: rgba(0, 0, 0, 0);
  border: 0;
}

.navbar {
  overflow: hidden;
}

li.nav-item.active a.nav-link:hover {
  color: #ffe100 !important;
}

li.nav-item a.nav-link:hover {
  color: #00d0ff !important;
}

/* formatting for icon bars */

.navbar-toggler .icon-bar {
  background-color: black;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.icon-bar.middle-bar {
  transform: translateX(-4px);
}

.navbar-toggler .icon-bar+.icon-bar {
  margin-top: 4px;
}

.navbar-toggler {
  background: transparent !important;
  margin-top: 10px;
}

.navbar-toggler:hover {
  background: transparent !important;
}

.navbar-toggler .icon-bar {
  width: 22px;
  transition: all 0.2s;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  transform: translateX(64px);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  transform: translateX(-4px);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

#one {
  background-image: url('../img/1.jpg');
}

#two {
  background-image: url('../img/2.jpg');
}

#three {
  background-image: url('../img/3.jpg');
}

.nav-item {
  transition: all 0.2s ease;
}

.collapse.show .nav-item {
  font-size: 1.5rem;
}
