.navbar-brand {
  font-size: 2rem;
  padding: 0rem;
}

.navbar-brand img {
  width: 45px;
  height: 45px;
  margin-right: 6px;
}

button.navbar-toggler {
  outline: 0;
  outline-color: rgba(0, 0, 0, 0);
  border: 0;
}

.navbar {
  overflow: hidden;
}

li.nav-item.active a.nav-link:hover {
  color: #ffe100 !important;
}

li.nav-item a.nav-link:hover {
  color: #00d0ff !important;
}

/* formatting for icon bars */

.navbar-toggler .icon-bar {
  background-color: black;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 33px;
  height: 3px;
  border-radius: 1.5px;
}

.icon-bar.middle-bar {
  transform: translateX(-4px);
}

.navbar-toggler .icon-bar+.icon-bar {
  margin-top: 6px;
}

.navbar-toggler {
  background: transparent !important;
  height: 36px;
}

.navbar-toggler:hover {
  background: transparent !important;
}

.navbar-toggler .icon-bar {
  width: 33px;
  transition: all 0.2s;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  transform: translateX(64px);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  transform: translateX(-4px);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

#one {
  background-image: url('../img/1.jpg');
}

#two {
  background-image: url('../img/2.jpg');
}

#three {
  background-image: url('../img/3.jpg');
}

.nav-item {
  transition: all 0.2s ease;
}

.collapse.show .nav-item {
  font-size: 1.5rem;
}

/**
 * Transitions
 */

.navbar {
  transition: all 0.2s ease;
  overflow: hidden !important;
  background: white !important;
}

.navbar.top {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: transparent !important;
}

.nav-spacer {
  height: 97px;
}

#top {
  z-index: 1035;
}
