/* Fonts and colors */

.special {
  font-family: 'Palanquin Dark', 'Roboto', sans-serif;
}

.tight {
  line-height: 1;
}

.cyan-text-hover:hover, a.cyan-text-hover:hover, a.white-text.cyan-text-hover:hover, .navbar-brand.cyan-text-hover:hover {
  color: cyan;
}

.cyan-text-hover:hover span.yellow-text-hover, a.cyan-text-hover:hover span.yellow-text-hover, a.white-text.cyan-text-hover:hover span.yellow-text-hover {
  color: #ffe100;
}

.yellow-text-hover:hover, a.yellow-text-hover:hover, a.white-text.yellow-text-hover:hover {
  color: #ffe100;
}


/* images */

#philly {
  background-image: url('../img/philly.jpg');
}

.hero-min-height {
  min-height: 70vh;
}

.gradient {
  animation-duration: 3s;
  animation-name: changeGradient;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes changeGradient {
  from {
    background: rgba(0, 255, 255, 0.1);
  }

  to {
    background: rgba(0, 200, 255, 0.3);
  }
}

.overlay {
  background-image: url('../img/overlay.png');
  background-position: fixed;
}

@media screen and (max-device-width: 1024px) {
  .overlay {
    background-position: scroll;
  }
}

/* absolute positioning */

.half-up {
  transform: translateY(-50%);
}

.circle {
  border-radius: 50%;
  display: table;
  height: 3.5rem;
  width: 3.5rem;
}

.circle .fa {
  display: table-cell;
  vertical-align: middle;
}

.center {
  text-align: center;
}

#stats {
  /*display: flex;
  align-content: space-between;
  justify-content: space-between;
  align-items: flex-start;*/
  padding-top: 3rem;
  padding-bottom: 3rem;
  /*flex-wrap: wrap;*/
  text-align: center;
}

.stat {
  display: inline-block;
  text-align: center;
  margin: 1rem;
}

.article {
  background: white;
  border-top: 0.5rem solid black;
  padding: 1rem;
  overflow: hidden;
  margin-bottom: 2rem;
}

a .article:hover h4 {
  color: cyan;
}

a .article:hover {
  border-top: 0.5rem solid cyan;
}

.article .article-image {
  text-align: center;
  padding-bottom: 1rem;
}

.article img {
  display: inline-block;
  height: 6rem;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/* Carousel */
.carousel {
  height: 70vh;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.gradient-carousel {
  height: 100%;
  width: 100%;
}

.gradient-carousel .overlay {
  height: 100%;
  width: 100%;
}

/*
** Partners
*/

.partners {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.partner {
  height: 4rem;
  width: auto;
  margin: 1rem;
}

.partner a {
  height: 4rem;
}

.partner a img {
  height: 4rem;
}
